---
layout: default # Inherit from the base layout
---

<article class="game-page">
  <link rel="stylesheet" href="/assets/wasm4/wasm.css">
  <h1>{{ page.title }}</h1>
  <p class="game-meta">Added: {{ page.date | date: "%B %d, %Y" }}</p>
  <script src="/assets/wasm4/wasm.js"></script>

<!-- ERROR '/games/tictactoe/cart.wasm' Need to either find a way to puyt the cartridge here or alter wasm.js-->

  <script id="wasm4-cart" type="application/json">{"WASM4_URL": "{{ page.cart }}"}</script>
  <wasm4-app></wasm4-app>

  <h2>Description</h2>
  {{ page.description | markdownify }}

  <h2>Controls</h2>
  <p>{{ page.controls }}</p>

  {% if page.content != "" %}
    <hr>
    <h2>Notes</h2>
    {{ content }} 
  {% endif %}

</article>