---
layout: default # Inherit from the base layout
---

<article class="game-page">
  <h1>{{ page.title }}</h1>
  <p class="game-meta">Added: {{ page.date | date: "%B %d, %Y" }}</p>

  <div class="game-container">
    <canvas id="wasm4-canvas"></canvas>
    <script type="module">
      import * as w4 from '{{ "/assets/wasm4/wasm4.js" | relative_url }}'; // Ensure path is correct
      const CART_URL = '{{ page.cartridge | relative_url }}'; // Get cartridge path from Front Matter

      w4.init(CART_URL).then(cart => {
        w4.run(cart);
      });
    </script>
    </div>

  <h2>Description</h2>
  <p>{{ page.description | markdownify }}</p>

  <h2>Controls</h2>
  <p>{{ page.controls }}</p>

  {% if page.content != "" %}
    <hr>
    <h2>Notes</h2>
    {{ content }} 
  {% endif %}

</article>